/*
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
*/

:root {
    --white: #f9f9f9;
    --navy: #13294B;
    --teal: #117788;
    --green: #88bb00;
    --darkgreen: #447722;
    --red: #cc2233;
    --orange: #f47736;
    --yellow: #ffc425;
}

body {
    padding: 20px;
    background-color: var(--white);
    color: var(--navy);
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    color: var(--teal);
}

h1 {
    font-family: 'Playfair Display', serif;
    color: var(--green);
    font-weight: 900;
    font-style: italic;
    font-size: 64px;
    text-align: center;
}

#logo {
    text-shadow: -1.5px 1.5px var(--darkgreen);
}

h2 {
    font-family: 'Playfair Display', serif;
    color: var(--navy);
    font-weight: 900;
    font-size: 36px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#profile-spot {
    float: right;
}

#stock-input {
    width: 90%;
    transition: width .8s ease-in-out;
    border: none;
    border-bottom: 2px solid var(--teal);
    background-color: var(--white);
    padding: 10px;
}

#add-button { /*the + button*/
    color: var(--teal);
    font-size: 48px;
    font-weight: 900;
    text-decoration: none;
    vertical-align: baseline;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn_add {
    background-color: var(--white);
    color: var(--green);
    font-size: 24px;
    border: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#btn_div_add {
    width: 100%;
    color: hotpink;
}

#portfolio {
    margin-top: 30px;
}

#company-info-box {
    position: relative;
    padding: 30px;
    border: 3px solid var(--navy);
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
    height: 600px;
}

#curate-portfolio {
    border-radius: 20px;
    padding: 20px;
    background-color: var(--navy);
}

#curate-portfolio:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

#curate {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
    color: var(--white);
}

#stock-in-portfolioA {
    border: 3px solid var(--darkgreen);
    border-radius: 20px;
    margin-bottom: 20px;
}

#stock-in-portfolioBBB {
    border: 3px solid var(--green);
    border-radius: 20px;
    margin-bottom: 20px;
}

#stock-in-portfolioBB {
    border: 3px solid var(--yellow);
    border-radius: 20px;
    margin-bottom: 20px;
}

#stock-in-portfolioB {
    border: 3px solid var(--orange);
    border-radius: 20px;
    margin-bottom: 20px;
}

#stock-in-portfolioCCC {
    border: 3px solid var(--red);
    border-radius: 20px;
    margin-bottom: 20px;
}

#stock-in-portfolio:hover, #stock-in-portfolio2:hover, #stock-in-portfolio3:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.info-in-portfolio {
    padding-top: 10px;
    padding-right: 20px;
    font-family: 'Playfair Display', serif;
    color: var(--teal);
    font-weight: 900;
    font-size: 52px;
    font-style: normal;
    text-align: right;
}

.company-in-portfolio {
    padding: 20px;
}

#learn-more {
    color: var(--navy);
    font-weight: 700;
    font-size: 24px;
    border: 3px solid var(--teal);
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#learn-more:hover {
    color: var(--white);
    background-color: var(--teal);
}

hr {
    width: 70%;
    margin: auto;
    color: var(--teal);
}

#welcome-message {
    text-align: center;
    font-size: 50px;
    text-shadow: -1.5px 1.5px var(--teal);
}

#welcome-sub {
    font-size: 20px;
}

.a {

    border: 1px solid black;
}

#b {
    position: relative;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: left;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
